.overlay {
	border-radius: 2rem;
	position: absolute;
	top: 0;
	left: 0;
	height: 450px;
	width: 300px;
	pointer-events: none;
}

.opacity0 {
	opacity: 0;
}

.opacity10 {
	opacity: 0.1;
}

.opacity20 {
	opacity: 0.2;
}

.opacity40 {
	opacity: 0.4;
}

.opacity50 {
	opacity: 0.5;
}
