.container {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 10px;
	position: fixed;
	top: 0;
	left: 0;
	padding-inline: 25px;
	height: fit-content;
	width: 100%;
}

.buttonSelected {
	background: transparent;
	border: none;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;
	display: flex;
	margin: 0;
	padding: 0;
	height: 80px;
	width: 150px;
	&:disabled {
		opacity: 0.8;
		cursor: not-allowed;
	}
}

.text {
	background-color: var(--primary);
	font-weight: bold;
	font-size: 16px;
	line-height: 1;
	padding: 8px 6px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--white);
	width: 100%;
}
