.total {
	color: #86efac;
}

.avatar {
	position: absolute;
	top: 9.5rem;
	left: 4.25rem;
}

.summonerIconWrapper {
	position: absolute;
	top: 8.5rem;
	left: 1.375rem;
	height: 118px;
	width: 180px;
}

.usernameCenteredBottom {
	position: absolute;
	bottom: 10.5rem;
	left: 50%;
	transform: translateX(-50%);
}

.quantitiesWrapper {
	position: absolute;
	bottom: 5.75rem;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
