.total {
	color: #e2e8f0;
}

.avatar {
	position: absolute;
	top: 8rem;
	left: 4.25rem;
}

.summonerIconWrapper {
	position: absolute;
	top: 7.5rem;
	left: 1.5rem;
	width: 180px;
	height: 113px;
}

.username {
	position: absolute;
	bottom: 11.25rem;
	left: 50%;
	transform: translateX(-50%);
}

.quantities {
	position: absolute;
	bottom: 6.25rem;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}
