.total {
  color: #cbd5e1;
}

.avatar {
  position: absolute;
  top: 8.75rem;
  left: 4.2rem;
}

.summonerIconWrapper {
  position: absolute;
  top: 8.5rem;
  left: 1.375rem;
  height: 113px;
  width: 180px;
}

.usernameCenteredBottom {
  position: absolute;
  bottom: 11.25rem;
  left: 50%;
  transform: translateX(-50%);
}

.quantitiesWrapper {
  position: absolute;
  bottom: 6.25rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
