.avatar {
	position: absolute;
	bottom: 0.5rem;
	left: 1.25rem;
	width: 268px;
}

.cover {
	position: absolute;
	bottom: 6.15rem;
	left: 1.25rem;
	width: 272px;
}

.name {
	position: absolute;
	bottom: 6.5rem;
	left: 1.25rem;
	width: 274px;
}

.spells {
	position: absolute;
	bottom: 1rem;
	left: 5.5rem;
	display: flex;
	gap: 0.5rem;
}

.username {
	position: absolute;
	bottom: 78px;
	left: 1.125rem;
	width: 268px;
}
