.total {
  color: #93c5fd;
}

.avatar {
  position: absolute;
  top: 9.875rem;
  left: 4.625rem;
}

.summonerIconWrapper {
  position: absolute;
  top: 7.75rem;
  left: 1.5rem;
  height: 126px;
  width: 180px;
}

.usernameCenteredBottom {
  position: absolute;
  bottom: 10.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.quantitiesWrapper {
  position: absolute;
  bottom: 5.75rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
