.btn-download {
	background-color: var(--color-gray-ultra-dark);
	border: 2px solid #fff;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	font-weight: var(--font-semibold);
	font-size: var(--text-base);
	padding: 6px 12px;
	transition: transform 200ms ease-in-out;
	will-change: transform;
	margin-top: 25px;
	margin-bottom: 25px;
	&:not(:disabled):hover {
		transform: scale(1.05);
	}
	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}
