.avatar {
	position: absolute;
	bottom: 0.5rem;
	left: 1.125rem;
	width: 268px;
}

.cover {
	position: absolute;
	bottom: 6.25rem;
	left: 1.125rem;
	width: 274px;
}

.name {
	position: absolute;
	bottom: 6.375rem;
	left: 1rem;
	width: 280px;
}

.spells {
	position: absolute;
	bottom: 1rem;
	left: 5.75rem;
	display: flex;
	gap: 0.25rem;
}

.username {
	position: absolute;
	bottom: 77.2px;
	left: 1.25rem;
	width: 268px;
}
