.avatar {
  position: absolute;
  bottom: 1rem;
  left: 1.25rem;
  width: 268px;
}

.cover {
  position: absolute;
  bottom: 6rem;
  left: 1.25rem;
  width: 265px;
}

.name {
  position: absolute;
  bottom: 6.75rem;
  left: 1.25rem;
  width: 265px;
}

.spells {
  position: absolute;
  bottom: 1.5rem;
  left: 5.5rem;
  display: flex;
  gap: 0.5rem;
}

.username {
  position: absolute;
  bottom: 83px;
  left: 1.125rem;
  width: 268px;
}
