.avatar {
	position: absolute;
	bottom: 0.5rem;
	left: 1.1rem;
	width: 268px;
}

.cover {
	position: absolute;
	bottom: 6rem;
	left: 1rem;
	width: 280px;
}

.name {
	position: absolute;
	bottom: 6.375rem;
	left: 1.2rem;
	width: 274px;
}

.spells {
	position: absolute;
	bottom: 0.875rem;
	left: 5.5rem;
	display: flex;
	gap: 0.25rem;
}

.username {
	position: absolute;
	bottom: 78px;
	left: 1.125rem;
	width: 268px;
}
