.btn-close {
	align-items: center;
	background-color: var(---color-gray-ultra-dark);
	cursor: pointer;
	color: var(---color-white);
	font-size: 24px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-radius: 40px;
	border: 2px solid #fff;
	height: 50px;
	width: 50px;
	transition: transform 200ms ease-in-out;
	will-change: transform;
	&:hover {
		transform: scale(1.05);
	}
}
