.total {
	color: #7dd3fc;
}

.avatar {
	position: absolute;
	top: 11rem;
	left: 6rem;
}

.summonerIconWrapper {
	position: absolute;
	top: 4.75rem;
	left: 2.625rem;
	height: 197px;
	width: 180px;
}

.usernameCenteredBottom {
	position: absolute;
	bottom: 10.5rem;
	left: 50%;
	transform: translateX(-50%);
}

.quantitiesWrapper {
	position: absolute;
	bottom: 5.75rem;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
