@import "tailwindcss";

@theme {
	--font-poppins: "Poppins", sans-serif;
	--font-montserrat: "Montserrat", sans-serif;
	--font-sigmar: "Sigmar", sans-serif;
	--font-haettenschweiler: "Haettenschweiler", sans-serif;
	--color-white: #e2e2e2;
	--color-black: #000;
	--color-primary-light: #ec4747;
	--color-primary: #e2012d;
	--color-secondary: #caaa77;
	--color-purple: #8125d8;
	--color-gray-light: #bcbcbc;
	--color-gray-ultra-dark: #030712;
	--color-gray-dark: #101828;

	--text-xs: 12px;
	--text-sm: 14px;
	--text-base: 16px;
	--text-lg: 18px;
	--text-xl: 20px;
	--text-2xl: 24px;
	--text-3xl: 30px;
	--text-4xl: 36px;
	--text-5xl: 48px;
	--text-6xl: 60px;

	--padding-desktop: 190px;
	--padding-tablet: 40px;
	--padding-mobile: 40px;

	--animate-bgfade: bgfade 2s ease-in-out infinite;

	@keyframes bgfade {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
}
