@import "ui-kit/fonts.css";
@import "ui-kit/styles.css";

html {
	background-color: #000;
	scroll-behavior: smooth;
	scrollbar-gutter: stable;
	scrollbar-color: var(--color-primary) transparent;
}

html,
body {
	height: 100%;
	min-height: 100dvh;
	width: 100%;
}

#root {
	height: 100%;
	min-height: 100dvh;
	width: 100%;
}
