@import "@embeejayz/ui-kit/fonts.css";
@import "./assets/fonts.css";

:root {
	--primary: #e2012d;
	--secondary: #caaa77;
	--white: #fff;
}

* {
	box-sizing: border-box;
}

html,
body {
	font-family: "AcuminPro", sans-serif;
	background-color: transparent;
	display: flex;
	margin: 0;
	flex: 1;
	height: 100dvh;
	overflow: hidden;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	flex: 1;
}
