/*Acumin Pro*/
@font-face {
	font-family: "AcuminPro";
	src: url("/fonts/AcuminPro/BdItPro.woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "AcuminPro";
	src: url("/fonts/AcuminPro/BdPro.woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "AcuminPro";
	src: url("/fonts/AcuminPro/ItPro.woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "AcuminPro";
	src: url("/fonts/AcuminPro/RPro.woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
