.cardContainer {
	width: fit-content;
	height: fit-content;
	user-select: none;
	perspective: 1000px;
}

.card {
	width: 300px;
	height: 450px;
	position: relative;
	transition: transform 0.5s;
	transform-style: preserve-3d;
}

.flipped {
	transform: rotateY(180deg);
}

.cardFace {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.cardBack {
	transform: rotateY(180deg);
}
