.container {
	align-items: center;
	background-color: #000;
	border: 4px solid var(--primary);
	border-radius: 8px;
	display: flex;
	padding: 12px 16px;
	gap: 25px;
	height: fit-content;
	width: fit-content;
}

.text {
	color: #fff;
	font-weight: 400;
	font-size: 20px;
	line-height: 1;
	width: 350px;
}
